.funParagraph {
    color: green;
    font-size: xx-large;
}

#mainHeading {
    color: red;
    outline: invert;
}

body {
  display: block;
  margin: 8px;
  padding: 20%;
  background-color: rgb(0, 0, 0);

}

h1 {
    color: rgb(255, 238, 0);
  }

h2 {
    color: rgb(38, 224, 91);
  }
    
p {
  color: rgb(203, 203, 203);
  font:bold;
  font-size: medium;

}